[Unit]
Description=Ceph collector - pool volumes

[Service]
ExecStart=/usr/local/sbin/ceph-collector.sh volumes

[Install]
WantedBy=multi-user.target
