
module munin_openstack_custom 1.1;

require {
	type ldconfig_exec_t;
	type commplex_main_port_t;
	type munin_plugin_state_t;
	type munin_t;
  type hostname_exec_t;
	class tcp_socket name_connect;
	class dir { add_name search write };
	class file { execute getattr open read };
}

#============= munin_t ==============
allow munin_t commplex_main_port_t:tcp_socket name_connect;
allow munin_t hostname_exec_t:file getattr;
allow munin_t ldconfig_exec_t:file { execute getattr open read };
allow munin_t munin_plugin_state_t:dir { add_name write };
